In [1]:
import pandas as pd

In [2]:
df= pd.read_csv("C:/Users/PC/Data Analyst Assesment/social_data.csv") #df for dataframe

In [3]:
df.head()

,Published Date,Account,Account Type,Campaign Name,Total Impressions,Total Engagements,Media Type
0,03-31-2023 19:55,CSGO,TWITTER,N/A,0,0,Text
1,03-31-2023 19:49,CSGO,TWITTER,N/A,0,0,Text
2,03-31-2023 19:49,CSGO,TWITTER,N/A,0,0,Text
3,03-31-2023 19:49,CSGO,TWITTER,N/A,0,0,Text
4,03-31-2023 19:43,CSGO,TWITTER,Community Engagement,9517,1215,Video

# Question 1. What is the Likelihood that we achieve a 15% engagement rate?
## Since every platform is different, its best to find their engagement rate separately.

In [4]:
Twitter_social=df[df['Account Type']=='TWITTER']
Twitter_social.head()

,Published Date,Account,Account Type,Campaign Name,Total Impressions,Total Engagements,Media Type
0,03-31-2023 19:55,CSGO,TWITTER,N/A,0,0,Text
1,03-31-2023 19:49,CSGO,TWITTER,N/A,0,0,Text
2,03-31-2023 19:49,CSGO,TWITTER,N/A,0,0,Text
3,03-31-2023 19:49,CSGO,TWITTER,N/A,0,0,Text
4,03-31-2023 19:43,CSGO,TWITTER,Community Engagement,9517,1215,Video

In [5]:
Twitter_percent= (Twitter_social['Total Engagements']/Twitter_social['Total Impressions']).dropna()#drops NaN values
print(Twitter_percent)
print(Twitter_percent[Twitter_percent > 0.15].count())
print(Twitter_percent[Twitter_percent > 0.15].count()/len(Twitter_percent))

4       0.127666
6       0.044102
7       0.171920
9       0.104296
11      0.151037
          ...
3462    0.099789
3463    0.045802
3464    0.017350
3470    0.019860
3477    0.019849
Length: 1655, dtype: float64
30
0.01812688821752266

## Around 1.8% of all Twitter engagment was over 15%.

In [6]:
Facebook_social= df[df['Account Type']=='FBPAGE']
Facebook_social.head()

,Published Date,Account,Account Type,Campaign Name,Total Impressions,Total Engagements,Media Type
10,03-31-2023 18:36,General,FBPAGE,Community Engagement,37692,8044,Photo
21,03-31-2023 16:22,General,FBPAGE,Community Engagement,42328,8936,Photo
40,03-31-2023 14:05,General,FBPAGE,Community Engagement,17222,952,Photo
47,03-31-2023 13:00,General,FBPAGE,Community Engagement,36197,5408,Photo
50,03-31-2023 11:30,General,FBPAGE,Community Engagement,13774,1396,Photo

In [7]:
Facebook_percent = (Facebook_social['Total Engagements']/Facebook_social['Total Impressions']).dropna()
print(Facebook_percent)
print(Facebook_percent[Facebook_percent > 0.15].count())
print(Facebook_percent[Facebook_percent >0.15].count()/len(Facebook_percent))

10       0.213414
21       0.211113
40       0.055278
47       0.149405
50       0.101350
          ...
3415     0.072982
3433     0.277118
3457    12.586667
3461     0.122800
3465     0.027916
Length: 433, dtype: float64
192
0.44341801385681295

##  44% of all Facebook engagment was over 15%

In [8]:
Youtube_social = df[df['Account Type']=='YOUTUBE']
Youtube_social.head()

,Published Date,Account,Account Type,Campaign Name,Total Impressions,Total Engagements,Media Type
63,03-30-2023 16:52,General,YOUTUBE,N/A,0,0,Video
64,03-30-2023 16:50,DOTA2,YOUTUBE,N/A,0,0,Video
65,03-30-2023 16:49,DOTA2,YOUTUBE,N/A,0,0,Video
80,03-30-2023 13:54,General,YOUTUBE,N/A,0,0,Text
81,03-30-2023 13:54,General,YOUTUBE,N/A,0,0,Text

In [9]:
Youtube_percent = (Youtube_social['Total Engagements']/Youtube_social['Total Impressions']).dropna()
print(Youtube_percent)
print(Youtube_percent[Youtube_percent >0.15].count())
print(Youtube_percent[Youtube_percent >0.15].count()/len(Youtube_percent))

90      0.020255
92      0.000000
104     0.050562
109     0.037581
134     0.010615
          ...
3142    0.066667
3143    0.065903
3144    0.041056
3145    0.035461
3146    0.041131
Length: 150, dtype: float64
3
0.02

## 2% of all Youtube engagement was over 15%

In [10]:
TikTok_social = df[df['Account Type']=='TIKTOK_BUSINESS']
TikTok_social.tail()

,Published Date,Account,Account Type,Campaign Name,Total Impressions,Total Engagements,Media Type
2987,01-24-2023 11:43,General,TIKTOK_BUSINESS,Community Engagement,381,41,Video
3026,01-23-2023 14:10,General,TIKTOK_BUSINESS,N/A,1603,128,Video
3041,01-23-2023 09:34,General,TIKTOK_BUSINESS,N/A,470,54,Video
3085,01-22-2023 13:31,General,TIKTOK_BUSINESS,N/A,767,88,Video
3090,01-22-2023 11:32,General,TIKTOK_BUSINESS,N/A,367,22,Video

In [11]:
TikTok_percent = (TikTok_social['Total Engagements']/TikTok_social['Total Impressions']).dropna()
print(TikTok_percent)
print(TikTok_percent[TikTok_percent>0.15].count())
print(TikTok_percent[TikTok_percent>0.15].count()/len(TikTok_percent))

43      0.027586
56      0.047671
78      0.089655
110     0.136493
129     0.108434
          ...
2987    0.107612
3026    0.079850
3041    0.114894
3085    0.114733
3090    0.059946
Length: 112, dtype: float64
1
0.008928571428571428

## TikTok had less than 1% engagement being greater than 15%

In [12]:
Insta_social= df[df['Account Type']=='INSTAGRAM']
Insta_social.head()

,Published Date,Account,Account Type,Campaign Name,Total Impressions,Total Engagements,Media Type
36,03-31-2023 14:27,General,INSTAGRAM,Community Engagement,5579,0,Photo
42,03-31-2023 13:36,General,INSTAGRAM,Evergreen,1257,18,Video
48,03-31-2023 12:00,General,INSTAGRAM,Community Engagement,16930,499,Photo
55,03-31-2023 09:28,General,INSTAGRAM,Evergreen,12911,157,Video
70,03-30-2023 16:30,General,INSTAGRAM,Community Engagement,30760,1678,Photo

In [13]:
Insta_percent = (Insta_social['Total Engagements']/Insta_social['Total Impressions']).dropna()
print(Insta_percent)
print(Insta_percent[Insta_percent>0.15].count())
print(Insta_percent[Insta_percent>0.15].count()/len(Insta_percent))

36      0.000000
42      0.014320
48      0.029474
55      0.012160
70      0.054551
          ...
3442    0.000000
3444    0.000000
3446    0.000000
3448    0.000000
3450    0.000000
Length: 363, dtype: float64
0
0.0

## Instagram had 0% engagment over 15%

# Question 1 Answer
## Facebook had a very high engagement rate with 44% of all engagement being greater than 15%. Instagram had a super low engagement rate with 0% of all engagement being greater than 15%.

# Question 2 Does the day of the week and time of posting affect engagemnt

In [14]:
new_df = Facebook_social.loc[Facebook_social['Total Impressions']!=0]
new_df.head()
#hist = new_df.hist(bins=10)

,Published Date,Account,Account Type,Campaign Name,Total Impressions,Total Engagements,Media Type
10,03-31-2023 18:36,General,FBPAGE,Community Engagement,37692,8044,Photo
21,03-31-2023 16:22,General,FBPAGE,Community Engagement,42328,8936,Photo
40,03-31-2023 14:05,General,FBPAGE,Community Engagement,17222,952,Photo
47,03-31-2023 13:00,General,FBPAGE,Community Engagement,36197,5408,Photo
50,03-31-2023 11:30,General,FBPAGE,Community Engagement,13774,1396,Photo

In [19]:
new_df['Published Date'] = pd.to_datetime(new_df['Published Date']).dt.date

C:\Users\PC\AppData\Local\Temp\ipykernel_9820\91949053.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Published Date'] = pd.to_datetime(new_df['Published Date']).dt.date

In [16]:
df["Published Date"] = df["Published Date"].astype("datetime64")
new_df.groupby(new_df["Published Date"].dt.month).count().plot(kind="bar")

AttributeError: Can only use .dt accessor with datetimelike values